<div class="listado stage">
     <div class="notify" ng-hide="companiesController.menu.companies.length>0">{{ 'main.noList' | translate }}
     </div>
    <div id="dataList" ng-show="companiesController.menu.companies.length>0">

        <div class="col-lg-6 col-xs-6">
            <div class="dataTables_filter themes pull-right">
                <label>{{ 'main.labelFilterBy' | translate }}:
                    <input type="search" class="form-control input-sm" placeholder="" ng-model="companiesController.menu.filters.allFields">
                </label>
            </div>
        </div>

        <div class="clearfix col-lg-12 col-xs-12">
            <table ng-table="companiesController.tableParams" class="table table-bordered table-hover dataTable display">
                <tr ng-repeat="list in $data" ng-click="companiesController.viewCompanyDetails(list.id);">
                    <td data-title="'main.name' | translate" sortable="'name'" filter="{ 'name': 'text' }">{{list.name}}</td>
                    <td data-title="'main.city' | translate" sortable="'city'">{{list.city}}</td>
                </tr>
            </table>
        </div>

        <div class="row col-lg-4 col-xs-4">
            <p class="col-lg-12 col-xs-12">{{ 'main.pagination.show' | translate }}
                <strong>{{(companiesController.tableParams.page() - 1) * companiesController.tableParams.count() + 1 }}</strong>
                {{ 'main.pagination.to' | translate }}
                <strong ng-if="(companiesController.tableParams.page() * companiesController.tableParams.count()) <= companiesController.tableParams.total()">{{ companiesController.tableParams.page() * companiesController.tableParams.count() }}</strong>
                <strong ng-if="(companiesController.tableParams.page() * companiesController.tableParams.count()) > companiesController.tableParams.total()">{{ companiesController.tableParams.total() }}</strong>
                {{ 'main.pagination.of' | translate }} <strong>{{companiesController.tableParams.total()}}</strong> {{ 'main.pagination.results' | translate }}
            </p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
