<div class="clearfix col-lg-12 col-xs-12">
    <table class="table table-bordered">
        <thead>
          <tr>
             <th>{{ 'detail.product' | translate }}</th>
             <th>{{ 'detail.description' | translate }}</th>
             <th>{{ 'detail.price' | translate }}</th>
          </tr>
        </thead>
        <tr ng-repeat="list in companyDetailController.menu.company.products">
            <td data-title="'detail.product' | translate">{{list.product}}</td>
            <td data-title="'detail.description' | translate">{{list.description}}</td>
            <td data-title="'detail.price' | translate">{{list.price}}</td>
        </tr>
    </table>
</div>
